---
# devpiano clang-tidy 配置
# 初始聚焦于错误防止、性能、可读性
Checks: >
    -*,
    bugprone-*,
    performance-*,
    readability-*,
    modernize-*,
    clang-analyzer-*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -readability-identifier-length,
    -readability-magic-numbers,
    -readability-convert-member-functions-to-static,
    -readability-redundant-access-specifiers,
    -readability-implicit-bool-conversion,
    -readability-function-cognitive-complexity,
    -readability-uppercase-literal-suffix,

CheckOptions:
    # 现代风格 using 声明
    - { key: modernize-use-using.IgnoreExternC, value: true }
...
